*.o
target
*.img
*.bin
!mk/*
.kdev4/
0bt.kdev4
*.hex
0bt-install
*.swp
*.dump
a.out
initrd/bin/ash
initrd/bin/busybox
initrd/bin/cat
initrd/bin/dmesg
initrd/bin/echo
initrd/bin/ls
initrd/bin/mount
initrd/bin/ps
initrd/bin/sh
initrd/bin/sysctl
initrd/sbin
mnt/*
